{% extends 'base.html.twig' %}

{% block title %}Modifier de profil
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Modifier votre profil</h1>
		<p>Ce formulaire vous permettra de modifier vos informations personnelles.</p>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
		{{ form_end(form) }}

	</div>
{% endblock %}
