{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
{% if app.user %}
<div class="container my-5">
    <h1>Modifier mon mot de passe</h1>
    <p>Pour des raisons de sécurité, nous vous recommandons de changer régulièrement votre mot de passe.</p>
    <div class="row">
        <div class="col-md-6">
        {{ form(modifyPwd) }}

    </div>
</div>
{% else %}
<div class="container my-5">
    <h1>Vous devez être connecté pour accéder à cette page</h1>
    <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
</div>
{% endif %}
{% endblock %}
