{% extends 'base.html.twig' %}

{% block title %}Profil mis à jour !
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Succès !</h4>
			<p>Vos informations de profil ont été mises à jour avec succès.</p>
			<hr>
			<p class="mb-0">Vous pouvez maintenant retourner à la
				<a href="{{ path('app_home') }}">page d'accueil</a>.</p>
		</div>
	</div>
{% endblock %}
