{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="mb-4 text-center">Réinitialiser votre mot de passe</h1>

				{{ form_start(resetForm, {'attr': {'class': 'card p-4'}}) }}
				{{ form_row(resetForm.plainPassword) }}

				<button class="btn btn-primary mt-3 w-100">Réinitialiser le mot de passe</button>
				{{ form_end(resetForm) }}
			</div>
		</div>
	</div>
{% endblock %}
