<h1>Réinitialisation de votre mot de passe</h1>

<p>Bonjour
	{{ user.firstname }},</p>

<p>
	Vous avez demandé la réinitialisation de votre mot de passe sur EcoRide.
	    Pour choisir un nouveau mot de passe, veuillez cliquer sur le lien ci-dessous :
</p>

<p>
	<a href="{{ url('reset_password_check', {token: resetToken}) }}">Réinitialiser mon mot de passe</a>
</p>

<p>Ce lien expirera dans
	{# On convertit les secondes en minutes pour l'affichage #}
	{{ (tokenLifetime / 60)|round }}
	minutes.</p>

<p>
	Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.
</p>

<p>L'équipe EcoRide</p>
