<form method="post" action="{{ path('app_covoiturage_delete', {'id': covoiturage.id}) }}" onsubmit="return confirm('{{ 'covoiturage.delete_confirm'|trans }}');" class="d-inline-block">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ covoiturage.id) }}">
	<button class="btn btn-sm btn-danger">
		<i class="bi bi-trash" aria-hidden="true"></i>
		{{ 'action.delete'|trans }}
	</button>
</form>
